img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
}
.weather-card{
  background: #43484a;
  color: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  max-width: 50%;
  margin: auto;
  box-shadow: 8px 18px 47px #0e0e0e;
}
.cityName{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  color: #e7e8e8;
}

.remove-button {
  background: none;
  background-image: url('../../assets/blueX.png');
  background-size: 18px;
  background-repeat: no-repeat;
  height: 24px;
  width: 25px;
  border: none;
  display: block;
  margin-top: 3px;
  margin-left: auto;
}

.remove-button:hover {
  background: none;
  background-image: url('../../assets/redX.png');
  cursor: pointer;
  background-size: 18px;
  background-repeat: no-repeat;
  height: 24px;
  width: 25px;
  border: none;
  display: block;
  margin-top: 3px;
  margin-left: auto;
}

p{
  font-size: 12px;
  font-weight: 200;
  color: #e6e7e7;
}
