.add-weather {
  box-shadow: 10px 15px 17px #0e0e0e;
  width: 280px;
  background: #345fa5;
  color: white;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 30px;
  margin: 45px auto;
  text-align: center;
}
.bannerAddWeather{
  text-align: center;
  color: #e7e8e8;
  font-size: 18px;
  font-weight: 300;
  margin: 20px;
}

.select{
  border: none;
  height: 25px;
  margin-bottom: 12px;
  color: #1a2c4a;
  background: #c3d6f6;
  width: 89px;
}

.addCityButton{
  border: none;
  height: 25px;
  border-radius: 3px;
  width: 90px;
}

.addCityForm{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button:hover{
  background-color: #42bcf4;
  color: white;
  transition-duration: 0.4s;
}
