.add-weather {
  background: #4286f4;
  color: white;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.select{
  border: 1px solid #ccc;
}

button:hover{
  background-color: #42bcf4;
  color: white;
  transition-duration: 0.4s;
}
